.siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 4px solid #000;
    margin-bottom: 1rem;
}

.siteLogo {
    width: 9rem;
}

.siteTitle {
    font-size: 3rem;
}

.navBar {
    border: 1px solid #000;
    font-size: 1.1rem;
}

.navBar__link {
    margin: 0 0.25rem;
    text-decoration: none;
}