.intro {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #000;
}

.intro__image {
    width: 100%;
    border-radius: 10px;
}

.intro__name {
    text-align: center;
    font-size: 4rem;
}