@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400&display=swap');
@import 'header.css';
@import 'intro.css';
@import 'cities.css';
@import 'landmarks.css';
@import 'people.css';
body {
    background-color: #ddd;
}

.bottom {
    display: flex;
    margin-top: 10px;
}

.content--left {
    flex: 3;
    border-right: 4px solid #000;
}

.content--right {
    flex: 1;
}

.sectionTitle {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}